{% extends 'lamblog.html' %}

{% block body %}
<header>
    <h1>
        Cài đặt Python
    </h1>
</header>
            <hr size="2px" color="red" />

<nav>
  <ul>
    <li><a href="#">Trang chủ</a></li>
    <li><a href="http://127.0.0.1:5000/helloword">1. Chương trình Hello Word!</a></li>
    <li><a href="http://127.0.0.1:5000/bientrongpython">2. Biến trong Python</a></li>
    <li><a href="http://127.0.0.1:5000/string">3. String</a></li>
    <li><a href="http://127.0.0.1:5000/list">4. List</a></li>
    <li><a href="http://127.0.0.1:5000/tuple">5. Tuple</a></li>
    <li><a href="http://127.0.0.1:5000/dictionary">6. Dictionary</a></li>
    <li><a href="http://127.0.0.1:5000/hamtrongpython">7. Hàm trong Python</a></li>
  </ul>
</nav>


<article>
    <p>Biến ( Variable ) để sử dụng khi câu lệnh có sự thay đổi , giống như trong ví dụ phần trước , biến ở đây chính là a hoặc có thể thay bằng các biến khác tùy ý chúng ta nhưng cần tránh một số điểm .</p>
    <p>Ví dụ : Đặt biến
    <br>a = 123456789
    <br>b = 987654321
    <br>name = ten</p>
    <p>Gỉa sử với ví dụ ở trên ta không gán với biến a , b và cộng 2 số với nhau như bình thường , ra kết quả . Nhưng khi thay một số trong một dãy số đó sẽ ra kết quả khác , rồi khi kết quả khác đó được sử dụng ta cũng phải viết lại từng số trong dãy rất mất thời gian , khi này điều ta cần là gán cho chúng vào một biến , khi thay đổi ta chỉ cần thay đổi gía trị của biến nhưng biến vẫn là biến .</p>
    <p>Biến không đưọc trùng với các câu lệnh của python :</p>
    <table border="1" cellpadding="5">
        <tr>
            <td>and</td>
            <td>as</td>
            <td>assert</td>
            <td>break</td>
            <td>class</td>
            <td>yeild</td>
        </tr>
        <tr>
            <td>continue</td>
            <td>def</td>
            <td>del</td>
            <td>elif</td>
            <td>else</td>
        </tr>
        <tr>
            <td>except</td>
            <td>exec</td>
            <td>finally</td>
            <td>for</td>
            <td>from</td>
        </tr>
        <tr>
            <td>global</td>
            <td>if</td>
            <td>import</td>
            <td>in</td>
            <td>is</td>
        </tr>
        <tr>
            <td>lambda</td>
            <td>not</td>
            <td>or</td>
            <td>pass</td>
            <td>point</td>
        </tr>
        <tr>
            <td>raise</td>
            <td>return</td>
            <td>try</td>
            <td>while</td>
            <td>with</td>
        </tr>
    </table>
    <p>Tên biến không được bắt đầu với các kí tự đặc biệt .</p>
    <p>Tên biến chỉ chứa chữ cái , số , dấu "_" .</p>
    <p>Biến có phân biệt in hoa , in thường .</p>
    <p>Cú pháp biến :</p>
        <div  style="text-indent: 2cm;">
                < Tên biến > = < Gía trị của biến >
         </div>
    <p>Khởi tạo nhiều biến :
        <div  style="text-indent: 1cm;">
            <p>Cú pháp :
                <div  style="text-indent: 2cm;">
                        < Tên biến 1 > , < Tên biến 2 > , ... ,< Tên biến N > = < Gía trị biến 1 > , < Gía trị biến 2 > , ... , < Gía trị biến N >
                 </div>
             </p>
         </div>
     </p>
     <p>Gía trị của biến có thể là số như ta đã biết , phàn sau mình sẽ nói về các gía trị đó nhưng lại thuộc kiểu dữ liệu , và có 4 kiểu dữ liệu gặp phải :</p>
        <ul style="list-style-type: square; list-style-position:inside;">
             <li>String</li>
             <li>List</li>
             <li>Tuple</li>
             <li>Dictionary</li>
        </ul>
        <p>Với mỗi kiểu dữ liệu này bạn có cách phân biệt để xem chuỗi thuộc kiểu nào trong 4 kiểu trên , đó là :</p>
         <pre>
            Các phần tử nằm trong ngoặc đơn hay ngoặc kép ' ' , " " , ''' ''', """ """ , đó là kiểu dữ liệu String .
                Ví dụ :
                    x = 'Hope'
                    str1,str2,str3 = '''Tạ''' , "Quang" , """Tiền"""  
             Các phần tử nằm trong ngoặc [ ] , đó là kiểu dữ liệu List .
                 Ví dụ :
                     li1 = [1,2,3,4,5]
                     li2 = [5,6,7,8,"Hope"]
             Các phần tử nằm trong ngoặc ( )  , đó là kiểu dữ liệu Tuple .
                 Ví dụ :
                     tup = (1,2,3,4,5,'Hope')
             Các phần tử nằm trong ngoặc { } và trong đó chứa tập hợp các cặp key và value , đó là kiểu dữ liệu Dictionary .
                 Ví dụ :
                     dic = {"ten" : Hope , "tuoi" : 27 , "nha" : 74}
         </pre>
          <div align="center">
            <a href="http://127.0.0.1:5000/string">Trang sau</a>
          </div>
</article>


<footer>
<a class="facebook" href="https://www.facebook.com/Kirito1801" target="_blank"><i class="fa fa-facebook" style="font-size: 24px; color:maroon; text-shadow:2px 2px 4px #000000;""></i></a>&nbsp; &nbsp; &nbsp;<a class="gplus" href="https://plus.google.com/u/1/discover" target="_blank"><i class="fa fa-google-plus"  style="font-size: 24px; color: maroon; text-shadow:2px 2px 4px #000000;""></i></a> &nbsp; &nbsp;<a class="youtube" href="https://www.youtube.com/channel/UCWrFW58KlMxaNoDNpTxkI9g?view_as=subscriber" target="_blank"><i class="fa fa-youtube" style="font-size: 24px; color: maroon; text-shadow:2px 2px 4px #000000;""></i></a>
</footer>
{% endblock %}