{% extends 'lamblog.html' %}

{% block body %}
<header>
    <h1>
        Giới thiệu bản thân
    </h1>
</header>
            <hr size="2px" color="red" />

<nav>
  <ul>
    <li><a href="http://127.0.0.1:5000/quangtien">Trang chủ</a></li>
    <li><a href="http://127.0.0.1:5000/pythonlagi">1. Python là gì?</a></li>
    <li><a href="http://127.0.0.1:5000/caidatpython">2. Cài đặt Python</a></li>
    <li><a href="http://127.0.0.1:5000/helloword">3. Chương trình Hello Word!</a></li>
    <li><a href="http://127.0.0.1:5000/bientrongpython">4. Biến trong Python</a></li>
    <li><a href="http://127.0.0.1:5000/string">5. String</a></li>
    <li><a href="http://127.0.0.1:5000/list">6. List</a></li>
    <li><a href="http://127.0.0.1:5000/tuple">7. Tuple</a></li>
    <li><a href="http://127.0.0.1:5000/dictionary">8. Dictionary</a></li>
    <li><a href="http://127.0.0.1:5000/hamtrongpython">9. Hàm trong Python</a></li>
  </ul>
</nav>

<article>

    <div class="container">
     <h2>Log In</h2>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


    <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
    <li data-target="#demo" data-slide-to="5"></li>
    <li data-target="#demo" data-slide-to="6"></li>
  </ul>
    <!-- The slideshow -->

  <div class="carousel-inner">
    <center>
    <div class="carousel-item active">
      <img src="https://i.imgur.com/wupamoV.jpg" alt="" width="800" height="450">
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/EeR1L6v.jpg" alt="" width="400" height="450">
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/ia8ovWz.jpg" alt="" width="400" height="450">
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/NlvwiAl.jpg" alt="" width="400" height="450">
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/SguXfzz.jpg" alt="" width="400" height="450">
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/pGY1HBn.jpg" alt="" width="700" height="450">
    </div>
    </center>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


      <div class="container mt-3">
  <h2>My profile</h2>
  <div class="media border p-4">
    <img src="https://i.imgur.com/TyvQdhZ.jpg" alt="Quang Tiền" class="mr-3 mt-3 rounded-circle" style="width:150px;">
    <div class="media-body">
      <h4>Tạ Quang Tiền 
          <div id="div1" class="fa"></div>
              <script>
                  function smile() {
                  var a;
                  a = document.getElementById("div1");
                  a.innerHTML = "&#xf118;";
                  setTimeout(function () {
                  a.innerHTML = "&#xf11a;";
                  }, 1000);
                  setTimeout(function () {
                  a.innerHTML = "&#xf119;";
                  }, 2000);
                  setTimeout(function () {
                 a.innerHTML = "&#xf11a;";
                  }, 3000);
             }
                  smile();
                  setInterval(smile, 4000);
               </script>
      <small><i>&nbsp;&nbsp;&nbsp;Đăng lên ngày 18/04/2018</i></small></h4>
          <div  style="text-indent: 1cm;">
              <p>Họ và tên: <i>Tạ Quang Tiền</i></p>
              <p>Ngày tháng năm sinh: <i>18/01/1992</i></p>
              <p>Quê quán: <i>Nghĩa Châu - Nghĩa Hưng - Nam Định</i></p>
              <P>Số điện thoại: <i>01675671056</i></p>
              <p>Email: <i>tientq1801@gmail.com</i> Hoặc <i>kidkunnd92@gmail.com</i> </p>
              <p>Facebook:<a href = "https://www.facebook.com/Kirito1801" target="_blank"><i>Click here</i></a></p>
          </div>
     </div>
    </div>
  </div>

  <div>
        <h4>Quá trình tiếp xúc ngành lập trình - Python</h4>
    </div>
        <div style="text-indent: 2cm;">
        <p align="justify">Xin nói trước chuyên ngành học đại học của mình không phải là CNTT mà là CNSH ( Công Nghệ Sinh Học) của trường Viện ĐH Mở HN. Sau 4 năm học và ra trường đi làm thì mình cũng làm đúng chuyên ngành. Mình học từ năm 2010 tới đầu năm 2018 mình bắt đầu được tiếp xúc với "lập trình". Khi đó cũng là do mình đang tím kiếm một công việc khác để làm thì đúng lúc thằng bạn thời đại học cũng đang bắt đầu học về lập trình theo chân ông anh nó quen. Rồi mình cũng bắt đầu học theo nó từ đây.</p>
        <p align="justify">Nó bắt đầu giới thiệu ngôn ngữ lập trình cho mình và đưa mình một số trang web  để học. Các bạn có hiểu cảm giác lúc đó của mình giống như một lão Robinson giữa đảo hoang hoặc như một đứa người Việt lên lớp 6 và bắt đầu tiếp xúc với tiếng anh. Thực sự là nhiều cái khó hiểu vì nó giống như bạn bắt đầu học một ngôn ngữ mới và nó rộng vô vàn.</p>
        <p align="justify">Mình cũng bắt đầu học theo và tự làm, không hề học theo một trường lớp nào, không học thêm khóa học bên ngoài.Tóm lại là mày mò tự học, rồi hỏi thêm thằng bạn. Nếu bạn không kiên trì, đủ sự kiên nhẫn và chăm chỉ thì nên đọc tới đây và dừng lại, đừng tìm hiểu về lập trình nữa. "Ăn hành: Là bước đầu tiên để bạn phát triển trên con đường trở thành dev" - st. Học lần đầu rồi quay lại xem lần nữa, lần nữa bạn sẽ hiểu thêm và cách giải quyết vấn đề cũng như cách xử lí như thế nào.</p>
        <p>Sau một vài tháng tự học về Python, HTML , CSS, JQuery, MySQL, và vài thứ lặt vặt khác bây giờ mình sẽ viết lại những thứ đã học. Tất nhiên sẽ không tránh khỏi sai sót và thiếu nhiều thứ về mặt trình bày, rất mong mọi người góp ý để hoàn thiện hơn. Cảm ơn mọi người rất nhiều.</p>
        <p>Đầu tiên mình sẽ làm về Python </p>
        </div>
        <div align="center">
            <a href="http://127.0.0.1:5000/pythonlagi">Trang sau</a>
        </div>
</article>

<footer>
<a class="facebook" href="https://www.facebook.com/Kirito1801" target="_blank"><i class="fa fa-facebook" style="font-size: 24px; color:maroon; text-shadow:2px 2px 4px #000000;""></i></a>&nbsp; &nbsp; &nbsp;<a class="gplus" href="https://plus.google.com/u/1/discover" target="_blank"><i class="fa fa-google-plus"  style="font-size: 24px; color: maroon; text-shadow:2px 2px 4px #000000;""></i></a> &nbsp; &nbsp;<a class="youtube" href="https://www.youtube.com/channel/UCWrFW58KlMxaNoDNpTxkI9g?view_as=subscriber" target="_blank"><i class="fa fa-youtube" style="font-size: 24px; color: maroon; text-shadow:2px 2px 4px #000000;""></i></a>
</footer>
{% endblock %}
